* {
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Yomogi&display=swap');

$police :"Yomogi", "sans-serif";

body{
    border: black solid 5px;
    //width: 1440px;
    //height: 1240px;
    margin: 0;
    padding: 0;
    color: black;
    font-family: $police;
}